//산돌 삼립호빵체 Outline
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('../fonts/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//배민 한나체Pro
@font-face {
    font-family: 'BMHANNAPro';
    src: url('../fonts/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}